body {
    background-color: #b20015;
    opacity: 1;
    background-image:  linear-gradient(30deg, #dd3400 12%, transparent 12.5%, transparent 87%, #dd3400 87.5%, #dd3400),
    linear-gradient(150deg, #dd3400 12%, transparent 12.5%, transparent 87%, #dd3400 87.5%, #dd3400),
    linear-gradient(30deg, #dd3400 12%, transparent 12.5%, transparent 87%, #dd3400 87.5%, #dd3400),
    linear-gradient(150deg, #dd3400 12%, transparent 12.5%, transparent 87%, #dd3400 87.5%, #dd3400),
    linear-gradient(60deg, #dd340077 25%, transparent 25.5%, transparent 75%, #dd340077 75%, #dd340077),
    linear-gradient(60deg, #dd340077 25%, transparent 25.5%, transparent 75%, #dd340077 75%, #dd340077);
    background-size: 46px 81px;
    background-position: 0 0, 0 0, 23px 40px, 23px 40px, 0 0, 23px 40px;
}
h1 {
    text-align: center;
    font-family: 'Rancho', serif;
    font-size: 80px;
    text-shadow: 2px 2px 2px #222;
    color: #ffffff;
    margin: 20px;
}


.puszka {
    padding:10px;
    display:inline-block;
    border:none;
    text-align:center;
    background-color: white;
    margin: 5px;
    max-width: 300px;
}

.quasi-hidden {
    font-size: 0;
}

.filter-label {
    color: #ffffff;
    font-weight: bold;
}


h1 {
    text-align: center;
    font-family: 'Rancho', serif;
    font-size: 58px;
    text-shadow: 2px 2px 2px #222;
    color: white;
    margin: 20px;
    text-decoration: none;
}

